body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}

header {
  background-color: #75e2e6;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header-text {
  font-size: 25px;
  font-weight: lighter;
  padding: 10px
}

/* The li a is a descendant selector. It targets <a> elements that are decendants of <li> elements */
li a { 
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.hero h1 {
  font-size: 2.5em;
}

.hero img {
  border-radius: 50%;
  margin: 20px 0;
}

.hero form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hero button {
  padding: 10px 20px;
  background-color: #75e2e6; 
  border: none;
  cursor: pointer;
}

.dog-button {
  width: 300px;
  font-size: 25px
}

#name {
  width: 300px;
  font-size: 22px;
  text-align: left;
}


.info {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
  background-color: #ffffff;
  padding: 0; 
}

.dog-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.dog-info h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.dog-info p {
  font-size: 1em;
  margin: 10px 0;
}

.dog-info button {
  padding: 10px 20px;
  background-color: #048eaa;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.social-media {
  border-radius: 0; /* Remove the round corners to make them square */
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed to keep them square */
  padding: 10px;
}

/* Add borders to each section  */
header {
  border: 15px solid blue; 
  padding: 20px;
  text-align: center;
}

.hero-image, .dog-info img {
  border-radius: 50%;
  border: 5px solid #277396; 
  width: 200px; 
  height: 200px; 
  object-fit: cover; 
}

.dog-info {
  flex-basis: 33.33%; /* Each box will take up about 30% of the container's width */
  box-sizing: border-box;
  border: 15px solid greenyellow; 
  text-align: center; /* Center-align the text */
  background-color: #ffffff; /* Optional: Add a background color */
  border-radius: 8px; /* Optional: Slightly round the corners */
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background: #048eaa;  
  background-size: cover;
  color: #ffffff;
  border: 15px solid rgb(246, 59, 228); 
  padding: 20px;
}

#hero {
  text-align: center;
  padding: 50px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/park.jpg");
  background-size: cover;
  color: #ffffff;
  border: 15px solid red; 
  padding: 20px;
}