body {
  overflow-x: scroll;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
}

header {
  background-color: #75e2e6;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  height: 70px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header-text {
  font-size: 25px;
  font-weight: lighter;
  padding-top: 10px;
}

li a { 
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.hero h1 {
  font-size: 3em;
  font-weight: normal;
}


strong {
  font-weight: bold; 
}

.hero img {
  border-radius: 50%;
  margin: 20px 0;
}

.hero form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hero button {
  padding: 10px 20px;
  background-color: #75e2e6; 
  border: none;
  cursor: pointer;
}

.dog-button {
  width: 350px;
  font-size: 25px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#name {
  width: 300px;
  font-size: 22px;
  text-align: left;
}

.info {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
}

.dog-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.dog-info {
  font-size: 1.4em;
  /* font-weight: bold; */
  margin: 10px 0;
  padding-top: 20px;
  padding-bottom: 30px;
}

.dog-info p {
  font-size: 1em;
  margin: 10px 0;
  text-align: left;
  padding: 20px 20px;
  padding-bottom: 100px;
}

.dog-info button {
  font-size: 1em;
  font-weight: light;
  padding: 10px 20px;
  background-color: #048eaa;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.social-media {
  width: 50px; 
  height: 50px; 
  padding: 10px;
  clip-path: inset(0%);
}

/* Add borders to each section  */
header {
  border: 13px solid blue; 
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.hero-image, .dog-info img {
  border-radius: 50%;
  border: 5px solid #277396; 
  width: 200px; 
  height: 200px; 
  object-fit: cover; 
}

.dog-info {
  flex-basis: 33.33%; 
  box-sizing: border-box;
  border: 12px solid greenyellow;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.dog-info:nth-child(2) {
  margin-left: -5px;
  margin-right: -5px; 
  z-index: 2; 
}

.dog-info:first-child {
  margin-left: 0; 
}

.dog-info:last-child {
  margin-right: 0; 
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background: #048eaa;  
  background-size: cover;
  color: #ffffff;
  border: 13px solid rgb(246, 59, 228); 
  padding: 20px;
}

#hero {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/park.jpg");
  background-size: cover;
  color: #ffffff;
  border: 13px solid red; 
}

#info-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
  margin: 0 auto; 
  padding: 0; 
  width: 100%;
  box-sizing: border-box; 
}